﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to 'BlogIt - The worlds smallest Blogging platform</h1>
    <p>Welcome to BlogIt where you can read as many blog articles as you wish. To begin writing your self, you need to be signed in with a free account.</p>
</div>
