@page
@model ProfileModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Your BlogIt profile";
    IdentityUser CurrentUser = await UserManager.GetUserAsync(User);
}

<h1>Hello @CurrentUser.UserName</h1>

<h2>Your published articles</h2>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Publishing date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model.OwnArticles) {
        <tr>
            <td><a asp-page="/articles/article" asp-route-id="@item.ID">@item.Heading</a></td>
            <td>@item.PublishingDate</td>
            <td>
                <span>
                    <a asp-page="articles/Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="articles/Delete" asp-route-id="@item.ID">Delete</a>
    </span>
            </td>
        </tr>
    }
</table>