@page
@model BlogIt.Pages_Articles.ArticleModel

@{
    ViewData["Title"] = ViewData["ArticleName"];
}
<div class="row">
    <div class="col-md-8">
        <h1>@Model.Article.Heading</h1>
            <p>
                By @Html.DisplayFor(model => model.Article.Author.UserName) on @Html.DisplayFor(model => model.Article.PublishingDate)
            </p>
            <span style="white-space: pre-wrap;">@Html.DisplayFor(model => model.Article.Text)</span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>