@page
@model BlogIt.Pages_Articles.EditModel

@{
    ViewData["Title"] = "Edit article";
}

<h1>Edit article</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Article.Heading" class="control-label"></label>
                <input asp-for="Article.Heading" class="form-control" />
                <span asp-validation-for="Article.Heading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.ShortDescription" class="control-label"></label>
                <input asp-for="Article.ShortDescription" class="form-control" />
                <span asp-validation-for="Article.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Text" class="control-label"></label>
                <textarea rows="30" asp-for="Article.Text" class="form-control"></textarea>
                <span asp-validation-for="Article.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
