@page
@model BlogIt.Pages_Articles.IndexModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Article overview";
    IdentityUser CurrentUser = await UserManager.GetUserAsync(User);
}

<h1>Article Overview</h1>
    @if (SignInManager.IsSignedIn(User))
    {
    <p>
        <a asp-page="Create">Create a new article</a>
    </p>
}
<form>
    <p>
        Title: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Search"/>
    </p>
</form>
@foreach (var item in Model.Article) {
    <h2>
        <a asp-page="/Articles/Article" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Heading)</a>
    </h2>
    @if(CurrentUser != null && CurrentUser.Id == item.Author.Id)
    {
        <span>
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
    </span>
    }
    <p>
        By @Html.DisplayFor(modelItem => item.Author.UserName) on @Html.DisplayFor(modelItem => item.PublishingDate)
    </p>
    <p>
        @Html.DisplayFor(modelItem => item.ShortDescription)
    </p>
}